<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>NPR News Articles and Comments Board!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {{!-- left blank intentionally --}}
        </div>
        <div class="col-md-2">
            <button class="btn btn-info btn-sm submitComment" id="scrapper">Scrape NPR's news articles!</button>
        </div>
        <div class="col-md-5">
            {{!-- left blank intentionally --}}
        </div>

    </div>
    <div class="row">
        {{!-- This will hold both the list of the articles and the comments that go to them..... should probably reference the exercised to see how they populated the side with the specific notes --}}
        <div class="col-md-2">
            {{!-- left blank intentionally --}}
        </div>
        <div class="col-md-8">
            <ul>
            {{#each Article}}
                <div class="card">
                    <div class="card-body">
                        <li>
                            {{#if photo}}
                            <img src={{photo}} alt="npr scrapped photo link">
                            {{/if}}
                            <h6>{{title}}</h6>
                            <br>
                            <p>{{summary}}</p>
                            <br>
                            <a href={{link}}>Link to the article here!</a>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="commentText">Give us your thoughts:</label>
                                    <input type="text" class="form-control commentText" name="comment" maxlength="255" id="comment">
                                </div>
                                <button class="btn btn-info btn-sm submitComment" data-id={{_id}}>Post</button>
                            </form>
                            <br>
                            <h6>Comments:</h6>
                            <div class="comments" id={{_id}}></div>
                            {{#each this.comment}}
                                <div class="card">
                                    <div class="card-body">
                                        <p> <button class="btn btn-sm btn-danger delete" data-id={{_id}}>X</button>{{this.body}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </li>
                    </div>
                </div>
            {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            {{!-- left blank intentionally --}}
        </div>
    </div>
</div>